<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap2/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap2/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="/css/solrstrap.css" rel="stylesheet" media="screen">
    <link href="/BookReader/BookReader.css" rel="stylesheet"/>
    <link href="/BookReaderDemo/BookReaderDemo.css"/>
  </head>
  <body>

    <!--actual visible HTML-->
    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{site_title}}</a>
          <form class="navbar-search" style="float:right" action="/">
            <div id="search-div">
              <input type="text" class="search-query span8" placeholder="{{search_placeholder}}" id="solrstrap-searchbox" name="q">
            </div>
          </form>
        </div>
      </div>
    </div>
    -->
    <div class="container">
      <div class="row">
      <!--
        <div id="solrstrap-facets" class="col-md-4">
        {{{active_filters}}}
        {{{facets}}}
        </div>
        -->
        <!--<div id="solrstrap-hits" class="col-md-8">-->
        {{{pagination}}}
        {{{results}}}
        {{{pagination}}}
        {{{home}}}
        <div id="BookReader">
        {{{item}}}
        <!--</div>-->
        </div>
      </div>
    </div>

    <!--load scripts at the bottom-->
    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/BookReader/jquery-ui-1.8.5.custom.min.js"></script>
    <script type="text/javascript" src="/BookReader/dragscrollable.js"></script>
    <script type="text/javascript" src="/BookReader/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/BookReader/jquery.ui.ipad.js"></script>
    <script type="text/javascript" src="/BookReader/jquery.bt.min.js"></script>
    <script type="text/javascript" src="/BookReader/BookReader.js"></script>
    {{{scripts}}}
  </body>
</html>
