<h2>{{title_display}}</h2>

<div id="books_viewer">
    <iframe src="{{embed_url}}" width="100%" height="1000px" name="book"></iframe><br/>
</div>

<div>
{{#text}}
<p><a href="#text" data-lity>Text</a></p>
<div id="text" class="lity-hide" style="background: white;">
    <iframe src="{{href}}" width="100%" name="text"></iframe>
</div>
{{/text}}
{{#metadata}}
{{^anchor}}
<li>{{label}}:
{{#link}}
<a href="{{value}}">{{value}}</a>
{{/link}}
{{^link}}
{{value}}
{{/link}}</li>
{{/anchor}}
{{#anchor}}
<li><a href="{{value}}">{{label}}</a></li>
{{/anchor}}
{{/metadata}}
</div>
