{{#if link}}
<div class="document blacklight-{{format}}">
    <div class="documentHeader yui-g">
        <div class="yui-u documentFunctions">&nbsp;</div>
        <div class="yui-u">
            <h3 class="index_title">{{number}}. <a href="{{link}}"{{target}}">{{{title}}}</a></h3>
        </div>
    </div>
    <dl class="defList">
{{#if thumb}}
<dt></dt>
<dd>
<a href="{{link}}"{{target}}><img src="{{thumb}}"/></a>
</dd>
{{/if}}
{{#if source}}
    <dt class="blacklight-source_s">Collection:</dt>
    <dd class="blacklight-source_s">{{source}}</dd>
{{/if}}
{{#if pubdate}}
    <dt class="blacklight-pubdate">Publication date:</dt>
    <dd class="blacklight-pubdate">{{pubdate}}</dd>
{{/if}}
{{#if format}}
    <dt class="blacklight-format">Format:</dt>
    <dd class="blacklight-format">{{format}}</dd>
{{/if}}
    </dl>
{{/if}}
</div>
