<!DOCTYPE html>
<html>
<head>
<title>{{site_title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
    border: 1px dotted black;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
</style>
</head>
<body class="site">
<div class="container-fluid site-content">
<div class="row">
    <div class="col-md-6">
        <h1><a href="/">{{site_title}}</a></h1>
    </div>
    <div class="col-md-6">
        <form action="/catalog" method="get">
            <div class="form-group">
                <input class="q form-control" type="text" name="q" value="{{q}}">
                <span class="input-group-btn"><button type="submit" class="btn btn-default" value="search">Search</button></span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
<p><a href="/catalog{{back_to_search}}">Back to search</a></p>

<p><a href="/">Start over</a></p>

<h2>Limit your search</h2>

{{#active_facets}}
<h3>{{field_label}}</h3>
<ul>
<li>{{value_label}} ({{count}}) <a href="{{remove_link}}">[remove]</a></li>
</ul>
{{/active_facets}}

{{#facets}}
<h3>{{field_label}}</h3>
<ul>
{{#values}}
<li><a href="{{add_link}}">{{value_label}} ({{count}})</a></li>
{{/values}}
</ul>
{{/facets}}
    </div>

    <div class="col-md-8">
{{#pagination}}
        <div class="row">
        <div class="col-md-4">
<p>
{{#if previous}}
<a href="{{previous}}" class="prev_page">&laquo; Previous</a>
{{else}}
&laquo; Previous
{{/if}}
</p>
        </div>
        <div class="col-md-4">
<p>
{{first}} - {{last}} of {{count}}
</p>
        </div>
        <div class="col-md-4">
<p>
{{#if next}}
<a href="{{next}}" class="next_page">Next &raquo;</a>
{{else}}
<span class="disabled next_page">Next &raquo;</span>
{{/if}}
</p>
        </div>
        </div>
{{/pagination}}

{{#results}}
{{#if link}}
<div class="document blacklight-{{format}}">
    <div class="documentHeader yui-g">
        <div class="yui-u documentFunctions">&nbsp;</div>
        <div class="yui-u">
            <h3 class="index_title">{{number}}. <a href="{{link}}"{{target}}">{{{title}}}</a></h3>
        </div>
    </div>
    <dl class="defList">
{{#if thumb}}
<dt></dt>
<dd>
<a href="{{link}}"{{target}}><img src="{{thumb}}"/></a>
</dd>
{{/if}}
{{#if source}}
    <dt class="blacklight-source_s">Collection:</dt>
    <dd class="blacklight-source_s">{{source}}</dd>
{{/if}}
{{#if pubdate}}
    <dt class="blacklight-pubdate">Publication date:</dt>
    <dd class="blacklight-pubdate">{{pubdate}}</dd>
{{/if}}
{{#if format}}
    <dt class="blacklight-format">Format:</dt>
    <dd class="blacklight-format">{{format}}</dd>
{{/if}}
    </dl>
{{/if}}
</div>
{{/results}}

{{#pagination}}
        <div class="row">
        <div class="col-md-4">
<p>
{{#if previous}}
<a href="{{previous}}" class="prev_page">&laquo; Previous</a>
{{else}}
&laquo; Previous
{{/if}}
</p>
        </div>
        <div class="col-md-4">
<p>
{{first}} - {{last}} of {{count}}
</p>
        </div>
        <div class="col-md-4">
<p>
{{#if next}}
<a href="{{next}}" class="next_page">Next &raquo;</a>
{{else}}
<span class="disabled next_page">Next &raquo;</span>
{{/if}}
</p>
        </div>
        </div>
{{/pagination}}
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
<div class="row">
    <div class="col-md-6">
        <h1>{{site_title}} footer</h1>
    </div>
    <div class="col-md-6">
        <p>howdy footer</p>
    </div>
</div>
    </div>
</footer>
</div>
</body>
</html>
