<h2>{{title_display}}</h2>

<div id="image_viewer">
    <img class="reference_image" id="reference_image" src="{{reference_image_url_s}}">
    <div id="viewer" style="width: 100%; height: 600px;"></div>
</div>

<div>
{{#metadata}}
{{^anchor}}
<li>{{label}}:
{{#link}}
<a href="{{value}}">{{value}}</a>
{{/link}}
{{^link}}
{{value}}
{{/link}}</li>
{{/anchor}}
{{#anchor}}
<li><a href="{{value}}">{{label}}</a></li>
{{/anchor}}
{{/metadata}}
</div>
