<div class="pagination">
    <h2>Results navigation</h2>
    {{#if previous}}
    <a href="{{previous}}" class="prev_page">&laquo; Previous</a>
    {{else}}
    <span class="disabled prev_page">&laquo; Previous</span>
    {{/if}}
    {{#if next}}
    <a href="{{next}}" class="next_page">Next &raquo;</a>
    {{else}}
    <span class="disabled next_page">Next &raquo;</span>
    {{/if}}
    <div class="page_links">
    {{first}} - {{last}} of {{count}}
    </div>
</div>
