<!DOCTYPE html>
<html>
<head>
<title>{{site_title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/mediaelementplayer.min.css" rel="stylesheet" media="screen">
<link href="/css/lity.min.css" rel="stylesheet" media="screen">
<style type="text/css">
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
    border: 1px dotted black;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
</style>
</head>
<body class="site">
<div class="container-fluid site-content">
<div class="row">
    <div class="col-md-6">
        <h1><a href="/">{{site_title}}</a></h1>
    </div>
    <div class="col-md-6">
        <form action="/catalog" method="get">
            <div class="form-group">
                <input class="q form-control" type="text" name="q" value="{{q}}">
                <span class="input-group-btn"><button type="submit" class="btn btn-default" value="search">Search</button></span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
<p><a href="/catalog{{back_to_search}}">Back to search</a></p>

<p><a href="/">Start over</a></p>

<h2>Limit your search</h2>

{{#active_facets}}
<h3>{{field_label}}</h3>
<ul>
<li>{{value_label}} ({{count}}) <a href="{{remove_link}}">[remove]</a></li>
</ul>
{{/active_facets}}

{{#facets}}
<h3>{{field_label}}</h3>
<ul>
{{#values}}
<li><a href="{{add_link}}">{{value_label}} ({{count}})</a></li>
{{/values}}
</ul>
{{/facets}}
    </div>

    <div class="col-md-8">
{{#item_audio}}
<h2>{{title_display}}</h2>

<div id="media_player">
{{#audio}}
<p class="click-to-play-audio" data-id="{{href_id}}" data-href="{{href}}"><span class="glyphicon glyphicon-play"></span><br>play</p>
{{/audio}}
{{#video}}
<p class="click-to-play-video" data-id="{{href_id}}" data-href="{{href}}"><span class="glyphicon glyphicon-play"></span><br>play</p>
{{/video}}
</div>
{{/item_audio}}

{{#item_image}}
<h2>{{title_display}}</h2>

<div id="image_viewer">
    <img class="reference_image" id="reference_image" src="{{reference_image_url_s}}">
    <div id="viewer" style="width: 100%; height: 600px;"></div>
</div>

<div>
<p><a href="#download" data-lity>Download</a></p>
<div id="download" class="lity-hide" style="background: white;">
    <a href="/catalog/{{id}}/download/?type=jpeg">JPEG</a>
    <a href="/catalog/{{id}}/download/?type=pdf">PDF</a>
</div>
</div>
<div>
<ul>
{{#metadata}}
{{^anchor}}
<li>{{label}}:
{{#link}}
<a href="{{value}}">{{value}}</a>
{{/link}}
{{^link}}
{{value}}
{{/link}}</li>
{{/anchor}}
{{#anchor}}
<li><a href="{{value}}">{{label}}</a></li>
{{/anchor}}
{{/metadata}}
</ul>
</div>
{{/item_image}}
    </div>
    {{{item}}}
</div>
</div>
<!--load scripts at the bottom-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/openseadragon/openseadragon.js"></script>
<script type="text/javascript" src="/js/mediaelementplayer.min.js"></script>
<script type="text/javascript" src="/js/lity.min.js"></script>
{{#script_media}}
<script type="text/javascript">
$('.click-to-play-audio').click(function () {
  var href_id = $(this).attr('data-id');
  var href = $(this).attr('data-href');
  $(this).after('<audio id="' + href_id + '" src="' + href  + '" style="display:block, width: 305px; height: 30px;" width="305" height="30"></audio>');
  $('#' + href_id).mediaelementplayer();
  var player = new MediaElement(href_id);
  player.pause();
  player.setSrc(href);
  player.play();
  $(this).remove();
});
$('.click-to-play-video').click(function () {
  var href_id = $(this).attr('data-id');
  var href = $(this).attr('data-href');
  $(this).after('<video id="' + href_id + '" src="' + href  + '" style="display:block, width: 360px; height: 240px;" width="360" height="240"></audio>');
  $('#' + href_id).mediaelementplayer();
  var player = new MediaElement(href_id);
  player.pause();
  player.setSrc(href);
  player.play();
  $(this).remove();
});
</script>
{{/script_media}}
{{#script_image}}
<script type="text/javascript">
var id = '{{osd_id}}';
var osd_viewer = OpenSeadragon({
    id: id,
    prefixUrl: "{{prefix_url}}",
    tileSources: {
        type: 'image',
        url: '{{reference_image_url_s}}'
    }
});
$(osd_viewer.element).find('.openseadragon-canvas').css('background-color', 'black');
$('#{{ref_id}}').hide();
</script>
{{/script_image}}
    {{{scripts}}}
</body>
</html>
